<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Hardware features for games (optional) -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <!-- OpenGL ES 3.0 support for advanced games (optional) -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="false" />

</manifest>
